body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.footer{
	width: 680px;
	background-color: #ffffff;
	color: black;
	text-align: center;
	height: 40px;
	padding-top: 10px;
}